.selector-for-some-widget {
  box-sizing: content-box;
}

body {
    font-family: 'Varela Round', 'Pacifico',sans-serif;
    background: no-repeat url("../images/alaska.jpg"),
    url("../images/tracy-arm-fjord-alaska.jpg"),
    url("../images/skagway-alaska.jpg"),
    url("../images/ours-alaska.jpg");
    margin : 25px;
}

h1 {
    text-align:center;
    font-family: 'Pacifico';
    margin-top: 50px;
    font-size:2.7rem;
}

.connectionForm {
    margin: 10px;
}

.sinscrire {
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.sinscrire a {
    color:white;
}

section {
    margin : 5%;

}

.listeBillets {
    font-family: 'Pacifico';
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px white;
    padding : 50px;
}

.optionsAuteur {
    font-size: 1.2em;
    padding : 50px;
}

.news {
    width:70%;
    margin:auto;
}

.comments {
    width:70%;
    margin:auto; 
    background-color: rgba(255, 255, 255, 0.5);
    padding :10px;
}

a.retourListe {
    color : black;
    text-shadow: 2px 2px 2px white;
    font-size: 1.1em;
}

h3 {
    text-align:center;
    background-color:#17a2b8 ;
    color:white;
    font-size:1em;
    padding: 20px;
    margin-bottom:0px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.news p {
    background-color:#ffcac9;
    margin-top:0px;
    padding : 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

a {
    text-decoration: none;
    color: #17a2b8;
    font-weight: bold;
}

input {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffcac9;
    border: 1px solid #17a2b8;
    border-top-color: #17a2b8;
    border-right-color: #17a2b8;
    border-bottom-color: #17a2b8;
    border-left-color: #17a2b8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.commentaires, .modification, .suppression {
    background-color : #7EDEA2 ;
    border: 1px solid transparent;
    color:black;
    margin : -5px 8px 40px 8px;
}

#titlePost, #newTitle {
    background-color : white;
    margin : 0px 10px 0px 10px;
}

.enregistrement {
    background-color:#17a2b8;
}

footer {
    text-align:center;
    font-size: 0.90em;
    font-style: bold;
    color:black;
    padding : 15px;
    max-width: 400px;
    margin:auto;
    background-color : rgba(255, 202, 201, 0.6);
    border : solid 1px grey;
    border-radius : 5px;
}

.logo {
    width: 5%;
    height: 5%;
}

.mentionsLegales {
    font-size: 0.95em;
    text-decoration: underline;
}